parameters:
	level: 8
	paths:
		- src/

	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
		- %rootDir%/../../../tests/shim.php
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
		- '#Cannot cast array\|string\|null to string#'
