parameters:
	level: 8
	paths:
		- TestCase/

	checkMissingIterableValueType: false

	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
		- %rootDir%/../../../phpunit.phar
		- %rootDir%/../../../tests/shim.php
	ignoreErrors:
