parameters:
	autoload_files:
		- %rootDir%/../../../tests/bootstrap.php
		- %rootDir%/../../../tests/shim.php
	ignoreErrors:
		- '#Parameter \#1 \$function of function call_user_func expects callable\(\): mixed, mixed given.#'
